/* This CSS file is created with a purpose to override the Bootstrap
   styles where applicable. */

:root {
  --theme-color: #bd6800;
}

body {
  max-width: 1300px;
  margin: 0 auto;
  padding: 5px;
}

body > * {
  padding: 0;
}

.navbar {
  padding: 0;
}

.navbar-buttons {
  display: flex;
}

.navbar-buttons > button.btn {
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
}

.navbar-buttons > button.navbar-toggler {
  margin-left: 5px;
  color: #fff;
  background-color: var(--theme-color);
}

#navbarSupportedContent {
  justify-content: flex-end;
}

.navbar-nav {
  margin: 0!important;
}

.nav-link:hover {
  /* Something is preventing the override when !important is not used */
  color: var(--theme-color)!important;
}

@media (min-width: 991.98px) { 
  .navbar-buttons > button.btn {
    display: none;
  }  
}

.fab {
  color: var(--theme-color);
  font-size: 40px;
  padding: 0 5px;
}