/* This CSS file is created with a purpose to override the Bootstrap
   styles where applicable. */

:root {
  --theme-color: #bd6800;
}

body {
  max-width: 1300px;
  margin: 0 auto;
}

.navbar-buttons > button.btn {
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
}

.navbar-buttons > button.navbar-toggler {
  border-color: var(--theme-color);
  background-color: var(--theme-color);
}

#navbarSupportedContent {
  justify-content: flex-end;
}

.navbar-nav {
  margin: 0!important;
}

.nav-link:hover {
  /* Something is preventing the override when !important is not used */
  color: var(--theme-color)!important;
}

@media (min-width: 991.98px) { 
  .navbar-buttons > button.btn {
    display: none;
  }  
}